<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1>Shelters</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @shelters.each do |shelter| %>
      <div class="col-4 center">
        <section id="shelter-<%= shelter.id %>">
          <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"  %><br>
          <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit" %>
            <% if !shelter.pets.pets_with_approved_apps.empty? %>
            <% else %>
              <%= button_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %><br>
            <% end %>
        </section>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 center">
      <%= link_to "New Shelter", "/shelters/new"%>
    </div>
  </div> 
</div>
