<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1>Shelters</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h4>Top 3 Highest Rated Shelters</h4>
    </div>
  <div class="row">
    <section id="shelter-stats">
      <% @shelters.three_highest_rated.each_with_index do |shelter, index| %>
      <div class="col-4 center">
        <p><%= "#{index + 1}. " %><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></p>
      </div>
      <% end %>
    </section>
  </div>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h3>All Shelters</h3>
    </div>
  </div>
  <div class="row">
    <% @shelters.each do |shelter| %>
      <div class="col-4 center">
        <section id="shelter-<%= shelter.id %>">
          <h6><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"  %></h6>
          <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit" %>
          <% if !shelter.pets.pets_with_approved_apps.empty? && !shelter.pets.pets_with_pending_status.empty? %>
          <br><br>
          <% else %>
          <%= button_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %><br><br>
          <% end %>
        </section>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 center">
      <h3><%= link_to "New Shelter", "/shelters/new"%></h3>
    </div>
  </div>
</div>