<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1><%= @shelter.name %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 center">
      <p><%= @shelter.address %></p>
    </div>
    <div class="col-3 center">
      <p><%= @shelter.city %></p>
    </div>
    <div class="col-3 center">
      <p><%= @shelter.state %></p>
    </div>
    <div class="col-3 center">
      <p><%= @shelter.zip %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 center">
      <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
    </div>
    <div class="col-6 center">
      <%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center">
      <h2><%= link_to "See our pets", "/shelters/#{@shelter.id}/pets"%></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h3><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new"%></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center">
      <h3> Reviews </h3>
    </div>
  </div>
  <div class="row">
    <% @shelter.reviews.each do |review| %>
      <div class="col-3 center">
        <p><%= review.title %></p>
        <p><%= review.rating %></p>
        <p><%= review.content %></p>
        <% if review.img_url != "" %>
          <img src=<%= "#{review.img_url}" %> alt=<%= "#{review.id}" %> height="100" width="100">
        <% end %>
      </div>
    <% end %>
  </div>
</div>
