<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1> Favorite Pets </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
   <% if @favorite_pets.empty? %>
     <div class="col-12 center">
      <p>You have no favorite pets</p>
     </div>
    <% else %>
      <% @favorite_pets.each do |pet| %>
        <div class="col-4 center">
          <section id="pet-<%= pet.id %>">
            <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
            <img src=<%= "#{pet.img_url}" %> alt=<%= "#{pet.id}" %> height="100" width="100">
            <%= button_to "Remove Pet from Favorites", "/favorites/#{pet.id}", method: :delete %>
          </section>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
   <% if @favorite_pets.empty? %>
   <% else %>
    <div class="col-12 center">
      <%= link_to "Remove all favorite pets", "/favorites", method: :delete%>
    </div>
   <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 center">
      <%= link_to "Adopt My Favorite Pets", '/applications/new' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 center">
      <section id="pets_with_applications">
        <h3> Pets with Pending Applications </h3>
        <% @pets.each do |pet|%>
        <% if !pet.applications.empty? %>
        <div class="col-4 center">
          <section id="pets_with_applications-<%= pet.id %>">
             <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
             <img src=<%= "#{pet.img_url}" %> alt=<%= "#{pet.id}" %> height="100" width="100">
           </section>
          </div>
        <% end %>
        <% end %>
      </section>
    </div>
  </div>
</div>
