<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1>Application</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h2><%= @application.name %></h2>
      <p><%= @application.address %></p>
      <p><%= @application.city %></p>
      <p><%= @application.state %></p>
      <p><%= @application.zipcode %></p>
      <p><%= @application.phone_number %></p>
      <p><%= @application.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center">
      <h2>Pets Applying For</h2>
    </div>
  </div>
  <div class="row">
    <% @application.pets.each do |pet| %>
    <div class="col-3 center">
      <section id="pet-<%= pet.id %>">
        <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3><br>
        <% if pet.adoption_status == "adoptable" %>
          <%= link_to "Approve Application for Pet", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch%>
        <% elsif pet.adoption_status == "pending" && pet.pet_applications.approved_application.application.name == @application.name  %>
          <%= link_to "Unapprove Application for Pet", "/pets/#{pet.id}/applications/#{@application.id}", method: :delete%>
        <% end %>
      </section>
    </div>
    <% end %>
  </div>
</div>
