<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1>Application</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h2><%= @application.name %></h2>
      <p><%= @application.address %></p>
      <p><%= @application.city %></p>
      <p><%= @application.state %></p>
      <p><%= @application.zipcode %></p>
      <p><%= @application.phone_number %></p>
      <p><%= @application.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 center">
      <h2>Pets Applying For</h2>
    </div>
  </div>
  <div class="row">
    <% @application.pets.each do |pet| %>    
      <div class="col-3 center">
        <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3><br>
        <img src=<%= "#{pet.img_url}" %> alt=<%= "#{pet.id}" %> height="100" width="100">
      </div>
    <% end %>
  </div>
</div>