<div class="container">
  <div class="row">
    <div class="col-12 center">
      <h1><%= @pet.name %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 center">
      <section id="pet-<%= @pet.id %>">
        <img src=<%= "#{@pet.img_url}" %> alt=<%= "#{@pet.id}" %> height="100" width="100">
        <p>Approximate Age: <%= @pet.age %></p>
        <p>Sex: <%= @pet.sex %></p>
        <p>Description: <%= @pet.description %></p>
        <p>Adoption Status: <%= @pet.adoption_status %></p>
        <% if !@pet.pet_applications.approved_application.nil? %>
        <p>On hold for <%= @pet.pet_applications.approved_application.application.name %></p>
        <% end %>
        <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
        <%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
        <% if favorite.contents.has_key?(@pet.id.to_s) %>
        <%= button_to "Remove Pet from Favorites", "/favorites/#{@pet.id}", method: :delete %>
        <% else %>
        <%= button_to "Add Pet to Favorites", "/favorites/#{@pet.id}", method: :patch %>
        <% end %><br>
        <%= link_to "See applications", "/pets/#{@pet.id}/applications" %>
      </section>
    </div>
  </div>
</div>
