<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-4 center">
            <%= link_to "Pets", "/pets/"%> 
          </div>
          <div class="col-4 center">
            <%= link_to "Shelters", "/shelters/"%> 
          </div>
          <div class="col-4 center">
            <%= link_to "Favorite Pets: #{favorite.total_count}", "/favorites/" %>
          </div>
        </div>
      </div>
   </nav>
   
    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
