<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="container">
    <div class="row">
      <div class="col-4 left">
        <%= link_to "Pets", "/pets/"%> 
      </div>
      <div class="col-4 left">
        <%= link_to "Shelters", "/shelters/"%> 
      </div>
      <div class="col-4 left">
        <p>Favorited Pets: <%= favorite.total_count %></p>
      </div>
    </div>
  </div>
  
    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
