<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/pets/">Pets</a>
        <a href="/shelters/">Shelters</a>
        <a href="/favorites/"><%= "Favorite Pets: #{favorite.total_count}" %></a>
      </div>
    </nav> 
   
    <% flash.each do |type, message| %>
      <section class=<%= type %>>
        <p><%= message %></p>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html> 
